.title-album-song {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    padding: 10px;

    span {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }
}

.list-song {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.footer-album {
    display: flex;
    color: #00000099;
    gap: 5px;
}
